title: Yusuf Techno
email: yusuftechno@gmail.com
description: Website dokumentasi resmi proyek saya.
baseurl: "" 
url: "http://localhost:4000"

# Koleksi untuk halaman dokumentasi
collections:
  docs:
    output: true
    permalink: /docs/:path/

defaults:
  - scope:
      path: ""
      type: "docs"
    values:
      layout: "docs"
