<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a class="navbar-brand fw-bold" href="{{ '/' | relative_url }}">
        {{ site.title }}
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="{{ '/' | relative_url }}">Beranda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url contains '/docs/' %}active{% endif %}" href="{{ '/documents' | relative_url }}">Archives</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/changelog/' %}active{% endif %}" href="{{ '/files' | relative_url }}">File</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light ms-lg-3" href="https://github.com/yusuftechno/repo" target="_blank">
              GitHub
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
